*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background-color: rgba(1, 1, 0, 0.651);
    // opacity: 0.9;
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%221440%22%20height%3D%22661.1%22%20viewBox%3D%220%200%201440%20661.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2C%20ellipse%2C%20line%2C%20path%2C%20polygon%2C%20polyline%2C%20rect%2C%20text%20%7B%20fill%3A%20rgb%280%2C%20128%2C%2096%29%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cpath%20fill%3D%22rgb%280%2C%20128%2C%2096%29%22%20d%3D%22M1440%20488c-19.3%204.3-39.2%208.6-60%2013-174.2%2036.5-228.8%20288-467%2076.2-153.6-136.6-424-22.8-660.4-5.8-130.2%209.3-252.6-75-252.6-75V0h1440%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        height: 1100px;
        width: 100vw;
        .header__logo{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            // height: 100px;
            position: absolute;
            bottom: 600px;
            color: white;
            text-align: center;
            .material-icons{
                padding-top: 20px;
                padding-right: 10px;
                font-size: 60px;
                color: rgb(164, 243, 7);
                cursor: pointer;
            }
            h1{
                padding-top: 20px;
                padding-left: 10px;
                font-size: 50px;
                text-transform: lowercase;
                cursor: pointer;
            }
            
        } 
        .header__text{
            color: white;
            font-weight: 800;
            font-size: 30px;
            position: relative;
            top: 100px;
            h1{
                text-align: center;
                font-size: 80px;
                font-weight: bolder;
            }
            h2{
                font-size: 80px;
                text-align: center;
                font-weight: bolder;
            }
            h3{
                font-size: 40px;
                margin-top: 20px;
                font-weight: bolder;
                text-align: center;
            }
        }
        .header__flex{
            position: relative;
            top: 130px;
            input{
                border: none;
                outline-width: 0;
                padding: 20px;
                width: 24vw;
                box-shadow: 1px 1px 2px -5px white;
                border-radius: 5px;
                font-size: 20px;
            }
            button{
                padding: 20px;
                border-radius: 5px;
                outline-width: 0;
                border: none;
                background-color: black;
                color: white;
                font-size: 20px;
                margin-left: 10px;
                cursor: pointer;
                width: 200px;
            }

        }
        .header__end {
            margin-top: 50px;
            img{
                object-fit: contain;
                position: relative;
                top: 100px;
                width: 700px;
                height: 600px;
                cursor: pointer;
            }
            p{
                color: whitesmoke;
                position: relative;
                top: 120px;
                text-align: center;
            }
        }
    }
    .flex__center {
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        width: 900px;
        height: 300px;
        padding: 0 2rem 0 2rem;
        margin-bottom: 3rem;
        cursor: pointer;
        .google__devices{
            display: flex;
            flex-direction: column;
            width: auto;
             .material-icons {
               font-size: 50px;
               color: green;
               margin-bottom: 10px;
            } 
            h4{
                font-weight: bolder;
                font-size: 20px;
                margin-bottom: 10px;
            }

        }
        .google__verified{
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            width: auto;
             .material-icons {
               font-size: 50px;
               color: green;
            }
            h4{
                font-weight: bolder;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .google__payment {
            margin-left: 15px;
            display: flex;
            flex-direction: column;
            width: auto;
             .material-icons {
               font-size: 50px;
               color: green;
            }
            h4{
                font-weight: bolder;
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .logo{
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        display: flex;
        height: 100px;
        width: auto;
        cursor: pointer;
        img{
            object-fit: contain;
            height: 60px;
            color: black;
            color: lightgray;
            padding: 5px;
        }
    }
    .bottom{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .bottom__first{
            text-align: center;
            font-size: 35px;
        }
        .bottom__second{
            text-align: center;
            font-size: 35px;
            margin-bottom: 40px;
        }
        h4{
            text-align: center;
            font-size: 15px;
            padding-bottom: 30px;
        }
        button{
            width: 230px;
            padding: 15px;
            border-radius: 10px;
            border: none;
            outline-width: 0;
            // box-shadow: 1px 1px 5px -7px green;
            background-color: rgb(12, 50, 12);
            color: white;
            font-size: 14px;
            cursor: pointer;
            &:hover{
                background-color: #c5460b;
            }
        }
    }
    .footer__link{
        margin-top: 100px;
        position: relative;
        left: 300px;
        a{
            font-size: 20px;
            padding: 20px;
            text-decoration: none;
            color: rgb(12, 50, 12);
        }
    }
    
}

@media screen and (min-width: 800px) {
    body{
        background:lightgray;
    }
}